<launch>

    <param name="/take_off_flag"    value="0" />

    <node pkg="mapping" type="static_tf_pub"    name=""     output="screen"/>

    <node pkg="mapping" type="drone_tf_pub"     name=""     output="screen"/>

    <!-- <node pkg="mapping" type="mapping"          name=""     output="screen"/> -->

    <!-- <node pkg="mapping" type="get_goal.py"      name=""     output="screen"/> -->

    <!-- <node pkg="planner" type="RRT_Start"            name=""     output="screen"/> -->

</launch>